# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

#Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
expo-error.log*

# Metro Bundler cache
metro-cache/

# macOS system files
.DS_Store
Thumbs.db

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Certificates and Keys (important for security)
*.jks
*.p8
*.p12
*.key
*.mobileprovision
